h1, p {
  font-family: Lato;
  text-align: center;
}

h1{
  background:blue;
  padding: 40px;
  margin-top:10px;
  color:white;
}

ul li{
  list-style-type: none; 
  font-size: 200%;
}

li:hover{

  
}

button{
  margin:5px;
}